<section class="sample-app-content">
  <h1>Template-driven Form Example:</h1>
  <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()">
    <p>
      <label>First Name:</label>
      <input type="text"
             [(ngModel)]="user.firstName" required name="firstName">
    </p>
    <p>
      <label>Password:</label>
      <input type="password"
             [(ngModel)]="user.password" required name="password">
    </p>
    <p>
      <button type="submit" [disabled]="!f.valid">Submit</button>
    </p>
  </form>
</section>
